<!DOCTYPE html>
{%extends "second_app/base.html"%}
{% load static %}
{% block body_block %}
<div class="jumbotron">
  <h1>please login</h1>
  <form  action="{%url 'secondapp:user_login' %}" method="POST">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" name="username" value="" placeholder="Enter User Name.">
    <label for="password">Password:</label>
    <input type="password" name="password" value="">
    <input type="submit" name="" value="Login">
  </form>

</div>


{% endblock %}
